html, body {
    font-family: helvetica;
    font-size: 15;
}

th {
    padding: 5px;
    text-align: center;
    vertical-align:middle;
    background-color: rgb(238, 238, 238);
	border-collapse: collapse;
	background-color: #C4C4C4;
}

table {
    table-layout: fixed;
    margin-top:3%;
    margin-bottom:3%;
	font-size:0.9em;
    border-collapse: collapse;
    width:350px;
}

td {
    border-bottom: 1px solid rgb(0, 30, 87);
	border-top: 1px solid rgb(0, 30, 87);
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
	border-collapse: collapse;
}

.assumptionTableDiv{
	margin: auto;
	text-align: center;
    padding:2px;
    width:350px;
}

#afterTaxIncomeBarChartDiv, #totalTaxBarChartDiv, #avgTaxRateBarChartDiv,
#grossIncomeBarChartDiv, #provinceChartDiv, #provinceDeltaChartDiv {
    width:95%;
    max-width:800px;
    padding:6px;
    border: 2px solid rgb(0, 30, 87);
    background-color: white;
    position:relative;
    height:50vh;
	max-height: 600px;
    margin: auto;
	text-align: center;
    margin-top:15px;
    margin-bottom:15px;
    box-shadow: 4px 4px 10px grey;
}


.userInput1, .userInput2{
    font-weight:bold;
    padding:1px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    text-align:center;
    font-family:helvetica;
    font-size:0.9em;
    width: 100px;
	max-width:80%;
}

input[type=number].input-number–noSpinners {
    -moz-appearance: textfield;
    border:1px solid rgb(180, 180, 180);
    padding: 4px 0 4px 0;
}

input[type=number].input-number–noSpinners::-webkit-inner-spin-button,
input[type=number].input-number–noSpinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border:1px solid rgb(180, 180, 180);
    padding: 4px 0 4px 0;
}

input[type=number]:hover{
    background-color: rgb(246, 252, 255);
    border:1px solid rgb(146, 146, 146);
}


#dropDownDiv {
    text-align:center;
    margin:auto;
}

#regionDropDownListA, #regionDropDownListB {

	font-weight: bold;
	padding: 4px 8px 4px 8px;
	border-radius: 4px;
    margin-bottom: 3px;
    display:block;
    text-align:center;
    margin:auto;
	
}

#regionDropDownListA{
    border:2px solid #0071B3;
	color: #0071B3;
}

#regionDropDownListB{
    border:2px solid #B31B20;
	color: #B31B20;
}

#totalPreTaxIncomeRow{
    font-weight:bold;
    font-size:1em;
}

.totalPreTaxIncomeData {
    border-top: 2px solid #31D0CB;
    border-bottom: 2px solid #31D0CB;
}



/* css as usual */
#mainTable{
    margin:auto;
    font-size:0.6em;
    overflow-x:scroll;
    width:95%;
    max-width:700px;
    display:block;
}

/* conditional for screen size minimum of 500px */
@media (min-width:700px) {
  /* your conditional / responsive CSS inside this condition */
  
    #mainTable{
        margin:auto;
        font-size:0.75em;
        overflow-x:scroll;
        width:95%;
        max-width:700px;
        display:block;
    }
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}


.column0{
    font-size:1.1em;
}

.column0, .column1, .column7, .column8 {
    font-weight:bold;
}

.column2, .column3, .column4, .column5, .column6 {
    font-style: italic;
}

#analysis2Assumption, #analysis2Label {
    font-weight:bold;
    font-size:1em;
    border-top: 2px solid #31D0CB;
    border-bottom: 2px solid #31D0CB;
}

#afterTaxIncomeAssumption{
    font-size:1em; 
}

.analysis3Assumption {
    font-weight:bold;
    font-size:1em;  
}


#moreInfoDiv{
    text-align: center;
    margin:auto;
    padding-top:1%;
    padding-bottom:0%;
}

#moreInfoButton{
    font-size:1.2em;
    color: rgb(77, 77, 77);
    cursor: pointer;
}

#incomeDescriptionDiv{
    font-size:0.8em;
    padding: 1%;
    margin:1%;
    border: 1px dotted gray;
}

.hide{
    display:none;
}